.chatfeed {
  flex: 1;
  overflow-y: auto;
  background-color: rgb(48, 50, 56);
  color: white;
  /* border: 1px solid red; */
  text-align: center;
  min-width: 0 !important;
  display: flex;
  min-height: 0;
  flex-direction: column;
}
.chatfeed:first-child {
  width: 100%;
  /* color: #43b581; */

  text-align: left;
}
.chatfeed h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(133, 133, 133);
  line-height: 0.1em;
  margin: 10px 0px 20px;
}
.chatfeed h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.chatfeed h1 span {
  font-size: 2.4rem;
}
.chatfeed::-moz-selection {
  /* Code for Firefox */
  color: rgb(255, 255, 255) !important;
  background: rgb(183, 208, 255) !important;
}

.chatfeed ::selection {
  color: rgb(255, 255, 255) !important;
  background: rgb(183, 208, 255) !important;
}
