.invitePage {
  width: 100%;
  height: 100%;
  background-color: #202225;
  display: grid !important;
  place-items: center !important;
}
.card {
  color: white !important;
  width: 400px;
  background-color: #36393f !important;
  text-align: center;
  padding: 20px;
}
.card p {
  color: grey;
  margin: 10px;
}
.members {
  background-color: #202225;
  color: grey;
  padding: 5px 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 130px;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.members span {
  border: 3px solid grey;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
