.message {
  display: flex;
  /* align-items: center; */
  padding: 5px 12px;
  max-width: 100%;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  box-sizing: border-box;
  height: auto;
  /* border: 1px solid green; */
  /* white-space: pre-wrap; */
}

.message:hover {
  background-color: rgb(40, 44, 53);
  cursor: default;
}
.message__body {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  justify-content: start;
  max-width: 95%;
  height: auto;
  align-items: start;
  padding: 0px 10px;
  overflow-wrap: break-word;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

.message__body__details {
  flex: 0.5;
  max-width: 100%;
  /* border: 1px solid blue; */
  /* margin-bottom: 5px; */
}
.message__body__text {
  height: 100%;
  height: auto;
  position: relative;
  width: 100%;
  /* text-overflow: clip; */
  /* border: 1px solid red; */
  text-align: left;
  /* text-overflow: ellipsis; */
}
