.message {
  display: flex;
  /* align-items: center; */
  padding: 5px 12px;
  height: auto;
  max-width: 100%;
  margin: 5px;
  border-radius: 5px;
}

.message:hover {
  background-color: rgb(40, 44, 53);
  cursor: default;
}
.message__body {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  justify-content: start;
  width: 100% !important;
  align-items: start;
  padding: 0px 15px;
}

.message__body__details {
  flex: 0.5;
}
.message__body__text {
  height: auto;
  text-align: left;
  width: 100% !important;
}
