* {
  font-family: "Catamaran", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #272b30;
}
::-webkit-scrollbar-thumb {
  background-color: #131313;

  border-radius: 10px;
}
.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
}
.main__app {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  flex-basis: 0;
  min-height: 0;
  min-width: 0;
}
.main__app__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7vh;

  background-color: rgb(54, 57, 63);
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  color: white;
}
.main__app__header span {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}
.main__app__header span h1 {
  color: rgb(99, 103, 110);
  font-size: 2.3rem;
  margin-right: 10px;
}
#hash {
  color: rgb(99, 103, 110);
  margin-right: 5px;
  font-size: 1.5rem;
}

.main__app__header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  /* border: 1px solid red; */
}
.header__serach {
  display: flex;
  align-items: center;
  background-color: rgb(32, 34, 37);
  padding: 5px;
  border-radius: 5px;
}
.header__serach input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  width: 120px;
}
.header__serach input:focus {
  width: 200px;
}
.header__serach :last-child {
  font-size: 18px !important;
  color: gray;
}
.main__app__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 93vh;
  /* border: 1px solid blue; */
  min-width: 0;
}

/* user setting css  */
.user__profile {
  padding: 20px;
  margin: 30px auto;
  background-color: #36393f;
  color: #ddd;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.user__avatar__section {
  flex: 0.3;
  padding: 10px;
  width: 30vw;
}
.user__avatar__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user__credentials__section {
  background-color: #2f3136;
  padding: 20px;
  border-radius: 8px;
  list-style-type: none;
}
.user__credentials__section li div {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.user__credentials__section li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.user__credentials__section li small {
  font-size: 12px;
  font-weight: bold;
  color: grey;
}
.user__credentials__section li span {
  color: white;
}

/* loading screen  */
.loading__screen {
  width: 100%;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  background-color: #2f3136;
  display: grid;
  place-content: center;
}
.serverMembers {
  flex: 0.2;
  color: "#ddd";
  padding: 10px;
  box-sizing: border-box;
  height: 100vh;
  background-color: #212224;
  display: flex;
  flex-direction: column;
}
.server-member:hover {
  cursor: pointer;
  background-color: rgba(49, 49, 49, 0.5);
}
